[2019-04-18 07:43] ivandemingo23 opened #1 "Response headers"
Estaría bien que fuera posible definir los _headers_ de la _response_, tal y como ya se hace para la _request_.

[2019-04-18 09:08] ivandemingo23 opened #2 "Query params"
Además de indicar el _path_ del _endpoint_, sería útil que se pudiera añadir _query params_.

Sugerencia: Según he visto en la documentación de Gorilla Mux (https://github.com/gorilla/mux#matching-routes), se pueden añadir _query params_ al _router_ de la siguiente manera:

[code]

[2019-04-18 10:40] aperezg commented on #2
Entiendo que lo que pides, es poder realizar responses dinámicas a partir de unos *query params*, al igual que se hace con el *endpoint* dentro del *request*, ¿no?

[2019-04-18 10:44] aperezg commented on #1
English:
Define headers in response and validate them as it works now in the request.

[2019-04-18 11:00] ivandemingo23 commented on #2
Exacto!

[2019-04-18 11:37] aperezg commented on #2
English:
Allow multiples imposters in one file, and identified by endpoint or query params, with fix values or regex.

i.e. errors, or distinct status codes, with differents body for each response

[2019-04-22 22:38] joanlopez opened #6 "The host argument is not working"
Hello,

While trying to dockerize the project (see reference #8) I detected that it seems to be ignoring the `-host` argument when creating the address where the server listens to.

See reference: https://github.com/friendsofgo/killgrave/blob/b33b671631ce80e01af4b1690051f4ddd9848902/cmd/killgrave/main.go#L38

Thanks!

[2019-04-22 22:44] joanlopez opened #7 "Dockerization"
Hello,

Just a suggestion:

It would be quite interesting to be able to run `killgrave` through [Docker](https://www.docker.com/) containers.

Thanks!

[2019-04-24 19:00] #7 closed

[2019-04-24 19:00] #6 closed

[2019-04-24 19:01] #1 closed

[2019-04-28 15:08] #2 closed

[2019-05-07 10:15] cib009 opened #14 "Problems with CORS in ajax petitions"
In ajax petitions we have problems with CORS because the first petition is with OPTIONS and this petitions is not accepted in killgrave

[2019-05-07 20:19] #14 closed

[2019-05-08 10:28] aperezg opened #16 "Allow run Killgrave with a config file"
As improvement, it will be fine allow a optional config file with arguments to run your mock server like:

* port
* host
* imposters file
* CORS configuration

[2019-05-11 21:42] #16 closed

[2019-07-11 06:51] joanlopez opened #20 "Config file paths suggestion"
Hello,

Currently, if you want to use a config file, the paths on it are relative to the path where you are running the application. This does not make sense, because it implies the config should be changed depending on the way you run it.

IMHO, it would be better to specify the config file path relative to the path where you are running the application, but making the paths on the config file re

[2019-07-11 16:50] joanlopez opened #21 "Support YAML for configuration and imposters definition"
Hello,

As any valid JSON is also a valid YAML (by definition), this enhacement will provide both options to users without BCs, neither multiple developments.

Thanks!

[2019-10-07 21:08] #20 closed

[2019-10-07 21:19] aperezg opened #26 "Remove pkg/errors library"
Since go1.13 version the library `pkg/errors` is depecrated in favor to errors on 1.13. IMHO I think that we don't need the extra library to handle the errors of our application, so I think that can be change all errors uses for new  `errors` packages, using sentinels or wrapping it if it's necessary.

[2019-10-08 11:32] hassieswift621 commented on #26
If you wish to use Go 1.13 errors but with backwards compatibility with older Go versions, you can use the official Go lib https://godoc.org/golang.org/x/xerrors

[2019-10-08 20:28] #26 closed

[2019-10-12 20:35] aperezg opened #30 "File Watcher"
This is a major feature for Killgrave, since now when you made any changes above the imposters file, you need to restar manually the server, this isn't be a problem if you already have a very stable mock server, but when you are creating and configurating your server this action is very frecuently.

For that with this PR I want to add this new feature, using the flag `-watcher`. The server would b

[2019-10-14 11:12] joanlopez opened #31 "Allow setting different responses per request (repeats)"
## Context

A quite common feature on some of the mock servers of the market is the possibility to define a different response for each time an imposter is requested.

It basically will consists on returning the response A the first X times the imposter is requested, then returning the response B the next times and so on (as much flexible as possible).

## Proposed implementation

As this is an is

[2019-10-14 11:18] joanlopez opened #32 "Add a delay option to add latency to the response"
## Context

One of the common benefits of using a mock server is its ability to add latency to its responses in order to simulate network issues. However, that option is not available yet on Killgrave, so it's a really simple but very worthy feature to implement.

## Proposed implementation (UPDATE: https://github.com/friendsofgo/killgrave/issues/32#issuecomment-542119727)

A new field `delay` und

[2019-10-14 11:25] joanlopez opened #33 "Proxy server feature"
## Context

One of the most requested features by our users is to implement a "proxy server" feature
(reasons below).

On the one hand, as the mock server is something you need to build up (provide) as you develop your API, sometimes there are some endpoints that are not already defined on the mock server configuration, so you might want to let the mock do a request to the "real" implementation wh

[2019-10-14 11:41] joanlopez opened #34 "Record proxy server feature"
(Straightly related with https://github.com/friendsofgo/killgrave/issues/33)

## Context

A really very-well feature for Killgrave would be to be able to create "responses" (configuration) itself on-the-fly.

The idea is to let the user to configure only the imposter's request and then let Killgrave do the magic: fill the `response` section (within imposter) by going to the "real" implementation a

[2019-10-14 11:44] joanlopez opened #35 "Allow XML schema validation on requests"
## Context

Killgrave was initially developed as a mock server focused on JSON HTTP APIs. However, as the responses configuration is highly flexible, it could be used to return responses of almost any type. That could allow Killgrave's users to use it also to mock XML HTTP APIs.

So, to provide those potential users a great experience, we also want to allow them configure some schema (XML) validat

[2019-10-14 18:19] Darkclainer commented on #32
Maybe delay should be an interval? So, delay will be more non-deterministic value. But I don't know will it be useful in actual testing or not.

[2019-10-15 09:17] joanlopez commented on #32
Yes, of course. It does make make a lot of sense. Let's do it that way.

[2019-10-15 16:29] #30 closed

[2019-10-16 09:27] Darkclainer commented on #33
The most important concern here is flexibility in my opinion. But I think we can for now stick to proposed behaviour, it seems not very difficult to make more fine-grained control if users will need this (for example, they may want to have option for each endpoint - is it mandatorily proxied or not).

Technical detail about implementation proposed above:
Add to server new field - proxy, that will

[2019-10-16 09:45] Darkclainer opened #39 "Structured logging"
I think this project can hugely benefit from structured logging.
User should be able to see what request server handled and how (maybe why they haven't handled by supposed handler, what errors of validation happened. It can be difficult to inspect this manually).
So structured logging can help to deal with possibly huge logs that current project can generate.

We can use some dependency for this f

[2019-10-16 14:59] joanlopez commented on #33
Yeah! That sounds really good!

Regarding the `httputil.ReverseProxy`, I never had the oportunity to play with it, but I'd vote for it as the first option (also for #34) as it'd avoid us from having to add new third-party dependencies.

Finally, I'd go for a simple proxy implementation (and keeping Killgrave simple). I wouldn't give "too much" flexibility if it does not worth for users (not reques

[2019-10-16 15:01] joanlopez commented on #39
Yeah, a verbose mode (-v / --verbose) with that kind of logs is a really good idea.

Could you share with us how these logs would looks like?

Thanks!

[2019-10-16 17:54] Darkclainer commented on #39
I've just realized it can be not so easy, as I thought.

Nevertheless, this is example of output:
![image](https://user-images.githubusercontent.com/2706095/66944806-93db7e80-f056-11e9-9c57-8ab8be51d439.png)
We can add more context, like actual body (and it will be almost unreadable) and other things.

The actual problem is that to log everything nicely, we need to make our router because of how g

[2019-10-16 18:04] joanlopez commented on #39
IMHO, logging everything isn't the best approach. We might provide some useful data (imposter file, path, params or the satisfied regex) instead, in order to let the user know why or why not it has matched.

What do you think?

[2019-10-16 18:38] aperezg commented on #39
I think that an approach like the middleware of gin-gonic will be fine, I'm agree with Joan that logging everything could be a little messy, instead of that logging all http request and loading file is a better approach

[2019-10-21 15:22] Darkclainer commented on #39
So, everything should stay as it is in case of logging?

[2019-11-09 09:22] #32 closed

[2020-01-30 19:26] aperezg commented on #33
Closes #41

[2020-01-30 19:26] #33 closed

[2020-06-09 11:48] aperezg opened #49 "Return bad request when you uses an invalid json schema"
If you're declaring a json schema to validate to request body, when failed the mock could be more inteligent and return a 400 Bad Request instead to a 404 because the route is not found it.

Maybe we could add a param to handle this errors on the response... or return the error in a string in the response.

[2020-06-18 09:51] Danielavw opened #51 "Examples about dynamic responses"
Hi guys
I was messing around your server mocker, and I was planning using it in one of our projects :)
I miss some examples, in specific, about how deal with dynamic responses based on regex endpoint or request schema. So, based in a value from request, I want to get that value and reflect it into the generated response.
If possible, could you provide some kind of example about that feature?
Thank

[2020-06-18 10:08] Danielavw commented on #51
Autoanswer:Just putting tags just like ##test1## in the response:
{
	"param1":"##test1##",
	"param2":"blablablah"
}
Thanks!

[2020-06-30 07:41] aperezg commented on #51
Hi @Danielavw you're right we need to improve a little our documentation, to use dynamic responses you could uses somes stuff:

First of all you could you use the `schemaFile` to indicate a proper json schema, that you could create and the endpoint must met.

[code]

Another one is the `params`:

[code]

For example to use this imposter, you should call to http://localhost:3000/gophers?id=123456,

[2020-07-20 13:04] horacimacias opened #53 "how to specify regex endpoints?"
I'm trying to configure an endpoint that handles requests matching a regex.
Is there a sample configuration using this feature?

[2020-07-20 13:21] aperezg commented on #53
Could you put an example of that you're looking for? To prepare a proper example :D?

[2020-07-20 13:26] horacimacias commented on #53
thanks; I believe I found a way, perhaps you can confirm if this is correct.

If I understood correctly, gorilla is being used for routing, which already describes using parameters in the URLs (https://github.com/gorilla/mux#examples)
In my case, I wanted something like "/api/v1/customers/{any_customer_id}" to return the same json file.

Something like this did the trick

[code]

According to gori

[2020-07-20 13:32] aperezg commented on #53
Yes, we're using [gorilla mux](https://github.com/gorilla/mux) for the regex, in the `urls` and the `query params`, for that reason you'll need to use his structure, in your case should be something like:

[code]

As you put, you need to declare a variable in the first step and then a pattern that is your regex. `{name:pattern}`.

For more information in the creation of the endpoints you could che

[2020-07-20 14:56] horacimacias commented on #53
awesome, thanks for the fast response!

[2020-09-15 09:39] #53 closed

[2020-09-15 09:39] #51 closed

[2020-09-15 13:42] aperezg opened #59 "Add the possibility to run the mock server using HTTPS"
We need to give the possibility to run the mock server using HTTPs, for that we need to add a new flag, for example, `secure` with a default certificate.

Also will be fine is we could add the option to add the own certificates for the users, via string and via file.

[2020-09-27 19:55] bhakiyakalimuthu commented on #59
Hi @aperezg, I would like to pick this one if no one picked yet

[2020-09-30 20:52] DeathWofl commented on #31
Hi, I think it could be done, define an arrangement with a series of predefined responses around 2 to 4, and then send them randomly, I'll try to see how it works :)

[2020-10-01 06:51] joanlopez commented on #31
Hey,

Yup, we're completely open to suggestions. Maybe we can define multiple response mechanisms.
IMHO, both (the one defined on the issue description and the one you mentioned) can coexist.

What do you think? 🤔
cc/ @aperezg

[2020-10-02 09:01] joanlopez opened #61 "Add a CircleCI job to push each new release to DockerHub"
The Killgrave project uses [CircleCI](https://circleci.com) for build & test pipelines (see the configuration file [here](https://github.com/friendsofgo/killgrave/blob/master/.circleci/config.yml)). Additionally, every release of Killgrave is present on [Docker Hub](https://hub.docker.com/r/friendsofgo/killgrave). So, it'd be great to add a new CircleCI step to automatically push each new release

[2020-10-02 11:11] exelban commented on #61
Hi.

Do you want to migrate the ci/cd to github action?

[2020-10-02 11:43] joanlopez commented on #61
That would be even better!! 🚀
Feel free to contribute to that migration, just let us know which environment / project variables do we need to set up.

cc/ @aperezg

[2020-10-02 21:04] aperezg opened #64 "Create imposters from Swagger responses schemas"
### Context
A lot of API that run on the world using Swagger to create a specification to document it. Is for that reason that we want to get the possibility to read the swagger files to create the imposters.

### Proposed implementation

The idea is create a new flag called `swagger-gen` with the address of the swagger responses schema, we need to process those files to create all the necessary i

[2020-10-02 21:14] aperezg opened #65 "Improve the documentation"
### Context
Right now the tool `Killgrave` is using for differents companies and users, but the documentation on the repository is very poor with a very little examples. We need to improve that point to bring closer this amazing tool to more people.

### Proposed implementation
The idea will be to create a `doc/` directory, with an index on the main `README.md` listing all the features that `Killg

[2020-10-02 21:25] aperezg opened #66 "Improve the way to get the Version"
### Context
Today if you run `Killgrave` with a compiled version and you use the flag `version` you will get the last version that you have installed on your system. But if you want to compile `Killgrave` by your own or using `go get` command you will get `dev`.

This is happens because we are using the [ldflags](https://www.digitalocean.com/community/tutorials/using-ldflags-to-set-version-informa

[2020-10-02 22:06] aperezg opened #67 "Mocking gRPC Servers"
### Context

Killgrave was born like an easy way to create mocks servers to HTTP APIs, so the philosophy of Killgrave was to make mocking easy and accessible to as many people as possible.

But now not only we have the HTTP APIs, there a lot of project that using [gRPC](https://grpc.io/) to create theirs communications, so will be very interesting that find a way to do the `Killgrave` the way to m

[2020-10-02 22:18] nananananate commented on #65
Yo I am down to help. I have experience with [Github Pages](https://pages.github.com/) ([my work](https://docs.coursecake-flask.tisuela.com/)) and Material for [MkDocs](https://squidfunk.github.io/mkdocs-material/) ([my work](https://docs.coursecake.tisuela.com/))

Both of these solutions would work with creating a doc/ directory! Click on the "my work" links for examples!

[2020-10-03 05:36] andyyaldoo commented on #66
I'd like to take this. Could you assign the issue to me? Will create PR in the next 48 hours. If no PR by then, feel free to unassign

[2020-10-03 06:09] joanlopez commented on #65
Hey @nananananate,

Thanks for your interest! I'm near to publish the v0 of the new Killgrave docs page. So, once it gets published, feel free to contribute with improvements.

We'd really appreciate it! 👌🏻

[2020-10-03 09:27] aperezg commented on #66
ok @andyyaldoo go for it :)

[2020-10-03 17:03] aperezg opened #69 "Refactor remove go core flag by cobra"
### Context

When Killgrave was born the idea was to create a simple mock server without multiple features, today, Killgrave is used by some companies in a large number of projects, for that reason Killgrave has been evolving and adding new features to make the tool more versatile.

Go flags is not very scalable and when you want to add more and more options could be a little inferno, for that rea

[2020-10-03 18:51] DeathWofl commented on #31
@aperezg You could assign it to me, I would like to keep trying?

[2020-10-05 14:59] CodingNagger opened #71 "A `correct_request_schema` fails on Windows"
When executing tests on Windows the `TestMatcherBySchema/correct_request_schema` test fails. I'm not sure what the behaviour should be though. However if someone can tell me that the currently expected behaviour is, I will happily open a pull request to fix it.

[code]

[2020-10-05 17:32] hicks2evan commented on #35
Hi! I'm new here and looking to pick this up as a part of Hacktoberfest. I installed the project via homebrew and am experimenting with sending and receiving xml. Any suggestions for producing a build to test locally once I've made some changes?

[2020-10-06 02:44] hicks2evan commented on #35
@joanlopez @aperezg could you take a look at this commit and verify my approach? https://github.com/hicks2evan/killgrave/commit/c3ad70a8ff96f3b3d31cb1aee55fa1a3702b6611

As for actually validating the schema of the xml request, I found this package https://godoc.org/github.com/lestrrat/go-libxml2/xsd, let me know what you think.

[2020-10-06 09:30] joanlopez commented on #35
Hey @hicks2evan,

First, thanks for your interest in our project. We're really happy to see people like you engaging with us.
Regarding your strategy, it looks good to me. Let me ping @aperezg to get his opinion on this, but I'd say you can keep working in that direction.

Feel free to ping us if you have any additional doubt or need.

Thanks!

[2020-10-06 21:08] donbachi commented on #34
Hi,
this sounds like a good issue for some first steps in killgrave.
If you don't mind, I would like to tackle this one.

BR,
  donbachi

[2020-10-06 22:22] joanlopez commented on #34
Hi @donbachi,

I assigned you, so it's time to 🚀
Please, feel free to ping us if you have any doubt or need.

Thanks!!!

[2020-10-07 04:08] DeathWofl commented on #31
@aperezg Could you tell me an idea of how the user could choose the option he wants, I came to think of creating a sub endpoint so to speak but I think it would break the simple scheme that killgrave wants to maintain

[2020-10-07 07:05] monicagangwar commented on #67
@aperezg

[2020-10-07 07:09] monicagangwar commented on #67
@aperezg
To differentiate between HTTP and grpc we can have different ports for them
As for config and imposter for grpc, in config we can ask the user to provide proto path and in request response define json corresponding to the protos, we can use [jsonpb](https://godoc.org/github.com/golang/protobuf/jsonpb) to marshal the json into proto structure and move ahead
how does this sound ?

[2020-10-07 11:12] CodingNagger commented on #71
It seems to be an issue with how the schema is loaded when using the reference loader from `github.com/xeipuuv/gojsonschema` which prevents the schema from being loaded from the JSON imposter. After hours digging last night, it just hit me now that I can use load the schema file directly and then use the library string loader like we do for the request body. All tests now pass on my Windows machin

[2020-10-08 08:33] joanlopez commented on #67
Hi @monicagangwar,

Thanks for your interest in contributing!! 🙏

IMHO, in order to be able to take a decision, I'd analyze the approach used by some of the already existing gRPC mocking solutions (see the list below as suggestions):

- https://github.com/cbrz/mountebank-grpc
- https://github.com/tokopedia/gripmock
- https://github.com/YoshiyukiKato/grpc-mock

Then, we'll be able to take a meaning

[2020-10-08 08:34] joanlopez commented on #71
Great job!! @CodingNagger 🚀
We'll review as soon as possible.
Thanks!!!

[2020-10-09 01:01] hicks2evan commented on #35
Hi @joanlopez and @aperezg,
I have opened this PR https://github.com/friendsofgo/killgrave/pull/74, please review when you get the chance. Cheers!

[2020-10-09 02:24] hicks2evan commented on #35
I tried implementing with different xml packages, but either way the circle-ci build is facing issues with the libxml-2.0 package. Not sure what I can change to make that work, have you ever seen before?

[2020-10-09 22:05] aperezg commented on #71
Closes with #73

[2020-10-09 22:05] #71 closed

[2020-10-09 22:06] aperezg commented on #69
Closes with #70

[2020-10-09 22:06] #69 closed

[2020-10-09 22:07] aperezg commented on #61
Closes with #62

[2020-10-09 22:07] #61 closed

[2020-10-10 11:37] aperezg opened #75 "Watcher option is not configured on the config.file"
## Context

All the options that the command line tool can do, the config file should be replicate also, but the `watcher` options is not parsed when the config is load.

## Proposed implementation
Add the watcher option on the parser for config file.

[2020-10-10 12:59] Amirhossein2000 commented on #75
Hi
I want to work on this.

[code]
the watcher option place is good now? if it's not tell me where is the best place for it and please assign this issue to me.

[2020-10-11 10:34] aperezg commented on #75
Hi!

Sorry but I'm already working on that issue, is for that I assigned to me ^^'

So I invited you to check the issue list and see if you can work in another one! :muscle:

[2020-10-13 07:05] A9u commented on #66
@aperezg  Can I take this up?  If yes, can you please guide me how to proceed with this?

[2020-10-13 08:09] joanlopez commented on #35
Hey @hicks2evan,

The library you used seems to be a Go binding for another XML parser, so the pipeline is complaining because it misses that dependency. So, you must add that dependency everywhere (CI runners, Docker image, etc) to get it running.

However, I'd like to try if a standalone library (e.g. [`encoding/xml`](https://golang.org/pkg/encoding/xml/)) would be enough, in order to avoid new

[2020-10-13 12:11] aperezg commented on #66
Seems that could be a good approach, but if we want the users can use the versions on his own compilations like, `go get` we can't use the Makefile right?

But if you want to try to do a solution, go for it 💪 , remember using the branch `v0.5.0` to do the modifications

[2020-10-15 14:41] aperezg commented on #21
Closes on #72

[2020-10-15 14:41] #21 closed

[2020-10-19 21:46] hicks2evan commented on #35
Hey @joanlopez, just coming back to this. I should have time to look at it some time this week. Thank you for the feedback.

[2021-01-21 11:17] bmihaylov commented on #49
Hey,
I'd like to work on this.
I took a look and it seems the simplest way would be to move the logic from the matcher function returned by MatcherBySchema to the handler returned by ImposterHandler.

[2021-01-21 13:16] joanlopez commented on #49
Sure, feel free to open a PR and to assign us to it as reviewers.
I'm glad to see you're interested in contributing into this project.
Looking forward to your contributions 😻

[2021-02-04 00:42] AlvinKuruvilla opened #81 "Add functionality for command execution/ run servers as cancellable services"
This a really awesome project
I think it would be cool if the servers were able to run commands and then destroy the mocks
Similar to
https://github.com/jonhoo/minion and https://github.com/jonhoo/tsunami (except not for AWS)

I also have a go package for graceful shutdown of cancellable services (if adding this functionality is something that could be good for this project....

[2021-02-04 08:07] joanlopez commented on #81
Hey @AlvinKuruvilla,
Thanks for reaching. I'm glad to see community contributions and ideas.

Just to be sure I understood you correctly,
Do you mean something like capturing the `Interrupt` [Signal](https://golang.org/pkg/os/#Signal) then calling the `http.Server.Shutdown` method to perform a graceful shutdown? Or by cancellable service do you mean something different?

Thanks!

[2021-02-09 17:06] AlvinKuruvilla commented on #81
The Interrupt Signal could work, but the way I designed the library is just through CTRL + C and then the servers are gracefully shutdown. To be honest, the Interrupt signal could work better, but I don't know how to exactly send such a signal and have the servers listen for it

[2021-02-09 17:09] AlvinKuruvilla commented on #81
In terms of command execution, I have tried implementing it in my library with exec, but It doesn't seem to work

[2021-02-13 07:58] cunyat commented on #67
Hey there, I've been using killgrave for testing and it is awesome, but that gRPC support would be amazing.

I've been looking that examples that provided @joanlopez.
The one with go, is compiling the mock when the user indicates the proto file.
I really don't like these approach, but the alternative whould be listening raw incoming request and parse the incoming data into outcome?

What do you th

[2021-02-13 16:11] joanlopez commented on #35
Hi @hicks2evan,
Did you have time to work on the feedback? Otherwise we'll address it.
Thanks!

[2021-02-13 16:16] joanlopez commented on #49
We finally discarded this idea. Feel free to open a new issue if you find this feature relevant.

[2021-02-13 16:16] #49 closed

[2021-02-13 16:23] joanlopez commented on #81
I'm so sorry but we cannot understand what you're trying to achieve because the Killgrave app already listens to interruption signals from the operative system in order to shut down the mock server.

Can you bring some additional context or share further details about your specific use case, please? Thanks!

[2021-02-13 16:41] joanlopez opened #82 "Add support for most popular software management tools"
I'd be nice to have support for:

- Aptitude (Debian/Ubuntu)
- RedHat
- Windows
- Homebrew (no tap)
- Etc

[2021-02-14 15:39] AlvinKuruvilla commented on #81
No don't apologize, I see that killgrave is achieving something else than I was thinking. I was picturing it somewhat like a cancellable server that can execute commands using exec. But, I don't think that's what you are trying to achieve with the project

[2021-02-14 15:45] #81 closed

[2021-02-20 00:15] joanlopez commented on #67
@monicagangwar @cunyat

Looking forward to work on your suggestions about parsing the raw requests.
However, it doesn't seem as easy as it'd be for an HTTP/1.X use case. Could you bring any code example?

Thanks!! 🙏🏻 😇

[2021-03-12 23:06] aperezg commented on #75
Done on #83

[2021-03-12 23:06] #75 closed

[2021-03-12 23:07] #35 closed

[2021-03-12 23:11] aperezg opened #89 "The endpoint should work with final `/` or without it"
If we have a imposter like this:

[code]

And will try to call to this endpoint on this way: `http://localhost:3000/api/people/1/` the mock server will return a `404` because it's not matching with the `path`.

So the normal behaviour is that url ignoring if have a `/` or not and have the same behaviour

[2021-03-13 02:42] joanlopez commented on #89
Hey @aperezg,

I've been exploring the `gorilla/mux` documentation and I guess that calling to [`Router.StrictSlash`](https://pkg.go.dev/github.com/gorilla/mux#Router.StrictSlash) with `true` would be enough. Does that make sense for you? If so, do you think that should be configurable either by flag or configuration file?

Thanks!

[2021-03-13 22:45] aperezg commented on #35
More info: https://github.com/friendsofgo/killgrave/pull/90#pullrequestreview-611643698

[2021-03-13 22:48] aperezg commented on #89
Do you know if that works fine with regex endpoints also?

[2021-03-14 01:46] mdsantosdev commented on #89
It will interpret any match including the / in the value or it will not match at all.
Source: [](https://github.com/gorilla/mux/issues/30)

I'd love to contribute a solution, what I was thinking is to make Strict Slash configurable (PR on the way). Let me know your opinions.

[2021-03-14 01:53] mdsantosdev commented on #89
PR: [https://github.com/friendsofgo/killgrave/pull/91](https://github.com/friendsofgo/killgrave/pull/91)

[2021-03-14 15:36] martin-dos-santos commented on #89
New PR based on @aperezg opinion [https://github.com/friendsofgo/killgrave/pull/92](https://github.com/friendsofgo/killgrave/pull/92)
Let me know if you think that I can improve it in some way. Thanks.

[2021-03-15 12:13] joanlopez commented on #89
Allowing users to configure the [`Router.StrictSlash`](https://pkg.go.dev/github.com/gorilla/mux#Router.StrictSlash) setting through Killgrave settings is something that could make sense.

However, I'd say that's not something very frequent (users usually want both -to work with ending slash or not-), so I'd vote for following a lean approach and wait for user's feedback to see whether or not it d

[2021-03-15 12:17] joanlopez commented on #89
I think this needs to be part of the `v0.5.0` release (instead of `v0.4.1`) since it actually breaks (changes) the current behavior.

WDYT?

[2021-03-15 21:51] aperezg commented on #89
Oh, you're right @joanlopez If for that that I created the issue with v0.5.0 tag, I didn't remember when I asked to @martin-dos-santos to change the version.

So, @martin-dos-santos sorry, but if you could change the base of the PR to the branch v0.5.0 will be great sorry for the mess 🙏 was my fault ^^'

[2021-03-16 00:16] martin-dos-santos commented on #89
Don't worry!, there we go [(https://github.com/friendsofgo/killgrave/pull/93)](https://github.com/friendsofgo/killgrave/pull/93)

[2021-03-16 00:41] martin-dos-santos commented on #89
Looks like that branch is broken, can I do anything to solve it?

[2021-03-16 21:52] aperezg commented on #89
Don't worry we need to remove the circle ci integration when we migrate all to the v0.5.0.

Thanks a lot for the contribution!

[2021-03-16 21:52] #89 closed

[2021-03-20 11:15] cunyat commented on #67
I've been looking for setup a grpc server, listen requests and try to unmarshall them into an empty interface, but i couldn't get it work...
Maybe I should try to listen as http server? I'm trying to learn about that, but it's pretty confusing.
@joanlopez Do you have any idea how can i get this working?

[2021-04-07 05:57] NavaneethNKMN opened #94 "For any JSON schema I get 404 error"
Even the schema that was provided in [documentation ](https://github.com/friendsofgo/killgrave#create-an-imposter-using-json-schema) also gives me the below error in terminal:

parse "file://D:\\killgrave-master\\killgrave-master/internal\\server\\http\\test\\testdata\\imposters/schemas/create_gopher_request.json": invalid port ":\\killgrave-master\\killgrave-master" after host: error validating t

[2021-04-14 12:31] joanlopez commented on #94
Hi @NavaneethNKMN,

First of all, thanks for reaching us! I'll be happy to try to help you.
Let me ask you some questions to get additional context:

- What Killgrave version (`v0.3.3`, `v0.4.0`, ...) are you using?
- How are you running it (Docker, Homebrew, Souce code...)?
- How is your imposter's directory organized (where do you have each file)?
- When are you getting those errors (initializat

[2021-04-20 09:32] NavaneethNKMN commented on #94
Thanks for the reply.

    Killgrave version - Master
    How are you running it (Docker, Homebrew, Souce code...) - Source Code
    How is your imposter's directory organized (where do you have each file)- I have attached the image of the folder structure

    When are you getting those errors (initialization, request-time...) - During request time.

-  Your imposter points to schemas/create_goph

[2021-04-20 21:51] #59 closed

[2021-05-27 14:36] hitokiri opened #99 "Problems using the Docker way"
I have the next problem; you say to use this line to can run the Docker image
docker run -it --rm -p 3000:3000 -v $PWD/:/home -w /home friendsofgo/killgrave -h 0.0.0.0

but when y run this with this tree configuration

the image logs return the next message
![image](https://user-images.githubusercontent.com/247528/119844867-057fdd80-bec6-11eb-9206-56be12c1dd7e.png)

[2021-06-08 03:39] pafuent opened #100 "I would like to see the incoming requests dump into stdout"
I would like to have a way to configure, per imposter, if the incoming requests should be dumped to stdout or not.
Also would be nice to have a command line option to override all imposters dump configurations.

[2021-06-16 13:42] joanlopez commented on #100
Hey @pafuent, thanks for creating the issue, I think something like this could be really helpful and benefitial for Killgrave users.

So, before diving into code implementations, could you bring a bit more information about what's your specific use case and/or what are you exactly trying to solve by adding this feature?

There's no issue yet, but we discussed adding a verbose (`-v`/`--verbose`) co

[2021-06-18 03:05] pafuent commented on #100
Well the concrete use case that I'm trying to solve is related to logging. I needed to test locally the implementation of a logging proxy that will send the logs that receive to a multiple destinations. One of them is Splunk, so instead of deploying a local instance, I used killgrave to simulate it. But then I needed to validate that some tweaks made to the incoming log were sent properly to Splun

[2021-06-19 11:31] infinite-spectrum commented on #31
@joanlopez is this issue still open?
I'd like to start working on this one but I see in the documentation that we support dynamic responses and this issue is still open.

[2021-06-19 12:34] joanlopez commented on #31
Yes, this issue is still open because though Killgrave allows you to set up dynamic responses based on request's matching rules, you cannot set up dynamic responses for one specific set of matching rules.

[2021-06-21 12:08] joanlopez commented on #100
Gotcha! Thanks for the explanation! 🙏🏻  Sounds like a really good usage case for Killgrave 🙌🏻

There's no PR neither an actual design, so feel free to either suggest your idea on the issue (which levels and what information will be logged for each) or to redo the existing pull request in a sense it introduces a basic implementation of the "verbose" flag that could be evolved in the near future.

[2021-06-22 03:13] pafuent commented on #100
Sure, I'll try to came up with something and update my PR accordingly.

[2021-06-22 16:15] infinite-spectrum commented on #31
I've done some work on the above feature request. I've added changes related information in the PR's comment.
@joanlopez and/or @aperezg, can you please take a look?

Here's a link to my [PR](https://github.com/friendsofgo/killgrave/pull/102)

[2021-06-30 11:03] euzu commented on #39
I miss the log functionality as well. I would like to be able to see the requests in the logs. For this, log levels could be specified for the respective path. This way the log level can be set in config. As an example, if LogLevel of the path is set to "Trace" but in the config the LogLevel is set to "Error" no log is written. This can reduce the amount of logs. This is even supported by the log

[2021-07-01 06:55] joanlopez commented on #39
We're already working and discussing it, but looks like we're going to introduce multiple levels of verbosity. However, the idea is to start by adding verbosity levels at program scope instead of imposter, as you suggested. You can find more information at #100 and #101.

[2021-08-18 17:58] jarimayenburg opened #104 "Bad English in the README"
The README and other documentation files contain some bad English. It would be good to clean that up.

[2021-08-19 06:42] joanlopez commented on #104
Hi @jarimayenburg,
Thanks for your contributions and feedback, we're going to review it asap 😄

[2021-09-14 07:42] #104 closed

[2021-09-17 09:13] ni507 commented on #99
Had the same issue. For me `docker run -it --rm -p 3000:3000 -v $PWD/:/home -w /home friendsofgo/killgrave -config config.yml` without `-h 0.0.0.0` but with the `config.yml` was working.
[code]

[2021-09-23 20:52] aperezg commented on #94
Hello sorry for the very delay on the response, the imposters that we have in the repository are only for the unit testing purpose, if you want to use killgrave, you we will need create your own or even if you want copy and paste that and put in the proper paths

[2021-09-23 21:34] aperezg commented on #99
Ok, the problem is in the documentation, the correct command is `docker run -it --rm -p 3000:3000 -v $PWD/:/home -w /home friendsofgo/killgrave -host 0.0.0.0`.

We will fix the documentation, thanks for the catch!

Could you confirm that with this the error is missing? Thanks!

[2021-09-24 05:41] ni507 commented on #99
@aperezg Yes, `-host 0.0.0.0` fixes the problem. Thanks!

[2021-10-01 13:24] guvense opened #106 "Callback Service Call"
When the mock server gets a request after a while sends a request to the given url. This feature might be useful for 3rd API service which works with send notifications.  I prepared case:

[code]

when request get by mock server after given delay, it will send request to "http://localhost:8089/v1""
As mentioned I prepared codes then it works.

[2021-10-02 21:25] aperezg commented on #106
Hello @guvense thanks for the idea, could you share a real use case for that purpouse, I understand what do you want to achive with this, but  I'm not sure is a real problem to solve using mock server, so if you can explain a little bit more the use case would be great :D

[2021-10-02 21:26] aperezg commented on #99
Perfect! thanks!

[2021-10-02 21:26] #99 closed

[2021-10-02 23:33] aperezg commented on #66
Finally the we will follow the approach that @A9u commented, but instead to do it into the code, we do in the momment of the compilation so in this way, you could be able to moving the binary when its already compiled, adding some information on the README to the users follow the instruction to compile the code by theirself

So thanks for the collaboration :)

[2021-10-03 20:14] guvense commented on #106
Hello @aperezg, in my case when the mock server gets a request, it should push the event to Kafka. Because I try to mock a service which put request to queue and process request in order. Therefore mock server returns a response after some time it should push the event to kafka. At the same time, my real application listens to kafka.

Another case, some third-party application. notify the status o

[2021-10-05 21:59] aperezg opened #108 "Start to use testify"
Modify the test to start to use https://github.com/stretchr/testify instead of the native Go tests

[2021-10-06 10:56] aperezg commented on #108
Yes sure! remember use branch v0.5.0 as base :)

[2021-10-10 15:43] stoovon commented on #64
@aperezg I like this idea, and I think I could implement swagger -> various.imp.json.

I would like to volunteer to contribute here 🚀.

However, I have a few questions that I think we should elaborate before I start to work on this.

## Are the files going to have a further editing step after `swagger3-gen`?

Since we match in `gorilla/mux` order, my assumption is that the generated imposter files

[2021-10-10 15:53] stoovon commented on #64
Oh, as a final point I noticed a couple of minor outdated links in the TOC on the readme. I can do these as part of this PR or I can raise a separate issue if preferred.

[2021-10-18 14:02] artefactop opened #114 "Is there any way to configure the value of the response?"
Hi,

I would like to use this to mock an external API, my question is I can configure the response, for example:

POST Request with Body {"element_id": 2}
Response {"element_id": 2, "deleted":true}

Where value of element_id match in request and response.

[2021-11-24 02:49] joanlopez opened #117 "Interactive mode"
Although it might be a bit out of the scope of this project, it could be interesting to enable an interactive mode in order to let the user to manually respond to some specific endpoints (applying same rules as regular imposters).

Since HTTP is a plaintext-based protocol, it shouldn't be harder than reading input from `stdin` and determining when then payload is finished (double `/n` or similar).

[2022-01-11 16:23] eloo opened #119 "How to mock a all sub paths?"
Hi,

i've just found your project and really like the simplicity.
But i have trouble to mock responses for requests with unknown paths.
For example i want to mock the following requests:
[code]
and so on..
and i have tried a pattern like this
[code]

But this would only match `/api` and not its sub-paths.
So is this currently possible? Something like a "catch-all" endpoint?

Thanks

[2022-01-11 23:45] joanlopez commented on #119
Hi @eloo,

Killgrave relies on [`gorilla/mux`](https://github.com/gorilla/mux) matcher to route requests. More specifically, it uses `HandleFunc(path string, f func(http.ResponseWriter, *http.Request))`, so based on [this StackOverflow thread](https://stackoverflow.com/questions/39754860/how-to-use-gorilla-mux-to-match-entire-path-with-regex), I guess it's not possible nowadays.

Bit of annoying,

[2022-01-12 07:27] eloo commented on #119
Hi @joanlopez
thanks for the clarification.
But sadly the amount of subpaths is not directly know or hard to find out because in our case we want to mock/block a whole infrastructure behind killgrave ;)

So if you could add this edge case function i guess it would be useful for others as well.

Further i have found that the chi-router is capable of wildcards. Not sure about the other feature you u

[2022-02-02 08:49] rosscdh commented on #119
+1 for this.. its a fairly common feature.. just need a 200 response

[2022-02-02 10:28] joanlopez commented on #119
Great, thanks for letting us now! We'll increase the priority of this issue and start to work on it sooner than later! 👌🏻

[2022-02-02 10:30] rosscdh commented on #119
🙇  really great little service this btw! thank you so much

[2022-02-04 11:04] fbachan opened #120 "Can you add request matching by json content?"

[2022-02-04 11:56] joanlopez commented on #120
Hi @fbachan, thanks for reaching us!

Have seen the support for JSON schema? 👇🏻
https://github.com/friendsofgo/killgrave#create-an-imposter-using-json-schema

If so, and still not enough.
Can you share some examples about what do you actually need and why JSON schema support is not enough?

Thanks!

[2022-02-17 23:25] #108 closed

[2022-02-17 23:25] #66 closed

[2022-03-10 21:56] joanlopez opened #122 "Brew installation (MacOS) does not work"
Hi,

I tried to install Killgrave by using `brew` on a MacOs Monterey (i5) and it fails:

[code]

So, would be good to do some research to understand why it's failing and how to fix it.

Thanks! 🙏🏻

[2022-03-10 22:08] joanlopez commented on #122
Issue fixed by @aperezg at https://github.com/friendsofgo/homebrew-tap/commit/688ef5fec198633b1a4486b4a70f7eb720ddae40.

Thanks! 🙌🏻

[2022-03-10 22:08] #122 closed

[2022-04-11 09:07] diegolagospagopa opened #124 "Project status"
I start by telling you that your project is fantastic, I just wanted to know its status since there are some PR not included yet and the last commit is from September 2021.

Thanks so much

[2022-04-11 09:27] joanlopez commented on #124
Hello @diegolagospagopa,

Thanks for your feedback! Yeah, it's true (and a bit sad) that we've been inactive almost during last whole year.
However, we're doing a bit of backlog clean up, prioritization so I'm happy to share with you that we're on the way to be back.

:)

[2022-10-18 14:54] medlouati opened #131 "Deploying killgrave in kubernetes ecosystem"
Hi,
I'm trying to deploy killgrave in a pod on a kubernetes (Tanzu) plateform.
It deploys well with the following logs :
2022/10/18 13:42:53 imposter /etc/killgrave/imposters/..2022_10_18_13_42_52.903949163/gopher.imp.json loaded
2022/10/18 13:42:53 imposter /etc/killgrave/imposters/gopher.imp.json loaded
2022/10/18 13:42:53 The fake server is on tap now: 0.0.0.0:3000

But any http call from outsi

[2022-10-24 07:09] medlouati commented on #131
The problem was on my part...
Killgrave work just fine ! (though the PoC of Prism was more conclusive for my company for its swagger handling)

[2022-10-24 07:09] #131 closed

[2022-10-24 07:31] joanlopez commented on #131
Glad to read that @medlouati :)

Do you mean something like https://github.com/friendsofgo/killgrave/pull/116 ?

[2022-11-12 10:41] cunyat commented on #67
Hey there!
It's been a long time... But I kept the idea in mind and finally got time to investigate on.
I think I have a good approach to handle gRPC requests, I've uploaded a proof of concept:
https://github.com/cunyat/playing-with-grpc

The idea is to build the FileDescriptor of the given proto file, and dinamically register server and methods. This allows to know types about requests and respon

[2022-11-21 09:45] joanlopez commented on #67
Hey @cunyat,

It has been a bit inactive, right. Unfortunately, mix of both work and personal duties forced us slow down the activity on this project. However, I'm glad to be able to say that: "we're back!". Since last few weeks we already started to work on a set of new features that I hope (at least a few) will be available by the end of the year.

https://github.com/cunyat/playing-with-grpc

At